<div class="tvshow-form-component">
  <div class="row">
    <div class="col-lg-3 pt-3">
      <img
        src="{{ tvshow.urlImg }}"
        class="card-img-top img-fluid"
        alt="{{ tvshow.title }}"
      />
    </div>

    <div class="col-lg-9">
      <form *ngIf="tvshow" [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <label for="title">Nom : </label>
          <input
            id="title"
            class="form-control"
            formControlName="title"
            [(ngModel)]="tvshow.title"
          />
          <app-errors-form
            [group]="form"
            controlName="title"
            controlLabel="Nom"
          ></app-errors-form>
        </div>

        <div class="form-group">
          <label for="release">Date de diffusion originale : </label>
          <input
            type="date"
            id="release"
            class="form-control"
            formControlName="release"
            (ngModelChange)="onChangeDateRelease($event)"
            [ngModel]="tvshow.release | date: 'yyyy-MM-dd'"
          />
          <app-errors-form
            [group]="form"
            controlName="release"
            controlLabel="Date de diffusion originale"
          ></app-errors-form>
        </div>

        <div class="form-group">
          <label for="nbSeasons">Nombre de saison(s) : </label>
          <input
            type="number"
            min="1"
            id="nbSeasons"
            class="form-control"
            formControlName="nbSeasons"
            [(ngModel)]="tvshow.nbSeasons"
          />
          <app-errors-form
            [group]="form"
            controlName="nbSeasons"
            controlLabel="Nombre de saison(s)"
          ></app-errors-form>
        </div>

        <div class="form-group">
          <label for="description">Synopsis : </label>
          <textarea
            id="description"
            class="form-control"
            formControlName="description"
            [(ngModel)]="tvshow.description"
          ></textarea>
          <app-errors-form
            [group]="form"
            controlName="description"
            controlLabel="Synopsis"
          ></app-errors-form>
        </div>

        <div class="form-group">
          <label for="urlImg">URL de l'image : </label>
          <input
            id="urlImg"
            class="form-control"
            formControlName="urlImg"
            [(ngModel)]="tvshow.urlImg"
          />
        </div>

        <div class="form-group">
          <label for="review">Critique : </label>
          <textarea
            id="review"
            class="form-control"
            formControlName="review"
            [(ngModel)]="tvshow.review"
          ></textarea>
          <app-errors-form
            [group]="form"
            controlName="review"
            controlLabel="Critique"
          ></app-errors-form>
        </div>

        <div class="form-group text-center my-3">
          <button
            type="submit"
            class="btn btn-custom"
            [disabled]="form.invalid"
          >
            {{ buttonLabel }}
          </button>
          <button class="btn btn-custom" [routerLink]="['/tvshows']">
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
