<div *ngIf="tvshow" class="tvshow-detail-component">
  <div class="d-flex">
    <h2>Détails de la série</h2>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/tvshows">Annuaire</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ tvshow.title }}
      </li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 text-center pb-3">
          <img
            src="{{ tvshow.urlImg }}"
            class="card-img-top img-fluid"
            alt="{{ tvshow.title }}"
          />
        </div>
        <div class="col-lg-9">
          <h2 class="title">{{ tvshow.title }}</h2>
          <p class="info">
            <span
              >Diffusion originale :
              {{ tvshow.release | date: "dd/MM/yyyy" }}</span
            >
            <span>{{ tvshow.nbSeasons }} saison(s)</span>
          </p>

          <p class="desc">{{ tvshow.description }}</p>

          <div class="review">
            <h4>Notre critique</h4>

            <p>{{ tvshow.review }}</p>
          </div>

          <button
            type="button"
            class="btn btn-custom"
            [routerLink]="['/tvshow', 'edit', tvshow.id]"
          >
            Modifier
          </button>

          <button
            type="button"
            class="btn btn-custom"
            (click)="onClickBtnDelete(tvshow.id)"
          >
            Supprimer
          </button>
        </div>
      </div>
    </div>
    <div class="comments card-body">
      <h4>
        Vos commentaires
        <span *ngIf="comments.length > 0">({{ comments.length }})</span>
        :
      </h4>
      <app-comment-form
        [idTvShow]="tvshow.id"
        (formSubmitted)="onSubmitNewComment($event)"
      ></app-comment-form>
      <p *ngIf="comments.length === 0">
        Il n'y a pas encore de commentaire pour cette série...
      </p>
      <div *ngFor="let comment of comments; let i = index">
        <div *ngIf="i < nbComments" class="comment-box position-relative">
          <p>{{ comment.content }}</p>
          <button
            class="btn btn-del"
            (click)="onClickDeleteComment(comment.id)"
          >
            x
          </button>
          <p>
            Par {{ comment.author }}, le
            {{ comment.dateCreation | date: "dd/MM/yyyy" }}
          </p>
        </div>
      </div>
      <button
        class="btn-showmore"
        *ngIf="nbComments < comments.length"
        (click)="onClickShowMore()"
      >
        Afficher plus...
      </button>
    </div>
  </div>
</div>
