/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
  background: #110f16 !important;
  color: #fff !important;
  font-family: "Baloo 2", cursive !important;
}

.card,
.table {
  background: rgb(47, 42, 60);
  background: linear-gradient(
    144deg,
    rgba(24, 21, 31, 1) 0%,
    rgba(62, 61, 62, 1) 100%
  );
  font-family: "Baloo 2", cursive !important;
  color: #fff !important;
}

header {
  padding-bottom: 3em;
}

button.btn-custom {
  background: #444444;
  border-radius: 7px;
  padding: 5px 18px;
  margin-right: 10px;
  color: #ffffff;

  display: inline-block;
  font: normal normal 14px/1 "Open Sans", sans-serif;
  text-align: center;
}

button.btn-custom:hover {
  background: #5c5c5c;
  color: #ffffff;
}

button.btn-custom2 {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0;
  padding: 5px 18px;
  margin-right: 10px;
  color: #ffffff;
  display: inline-block;
  font: normal normal 14px/1 "Open Sans", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}
button.btn-custom2:hover {
  background: #fff;
  color: #000;
}

button.btn-custom3 {
  background: transparent;
  color: #ffffff;
  display: inline-block;
  font: normal normal 14px/1 "Open Sans", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}
button.btn-custom3:hover {
  color: #ae82f4;
}

button.btn-del {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

a:hover {
  background: rgba(83, 83, 83, 0.8);
}

h2 {
  color: #ae82f4;
}

.tvshow-detail-component h2.title {
  color: #fff;
}

.tvshows-list-component table thead {
  color: rgb(59, 141, 208);
}

.tvshow-detail-component img {
  max-width: 260px;
}
.tvshow-detail-component .info {
  color: #fff !important;
  opacity: 0.5;
  font-size: 0.9em;
}
.tvshow-detail-component .info span {
  margin-right: 20px;
}
.tvshow-detail-component .review {
  background: rgba(13, 21, 28, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  padding: 1em 2em;
  margin-bottom: 2em;
}
.tvshow-detail-component .comments h4 {
  /* padding-left: 1em; */
}
.tvshow-detail-component .comment-box {
  margin: 1em 2em;
  padding: 4px 12px 0 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.tvshow-detail-component .comment-box p:first-child {
  margin-bottom: 0.1em;
}
.tvshow-detail-component .comment-box p:last-child {
  opacity: 0.5;
  font-size: 0.9em;
}

.tvshow-form-component input,
.tvshow-form-component textarea,
.comment-form-component textarea {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.7);
}

.tvshow-form-component label {
  padding-top: 1em;
}
.comment-form-component {
  margin: 1em 2em;
}
